{% extends 'base.html' %}



{% block 'content' %}

<section class="container mx-auto pt-5">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for gelatina in gelatinas %}
        <div class="col">
            <div class="card h-100">
                <a href="{% url 'gelatina_details' gelatina.id %}">
                <img src="{{ gelatina.imagen }}" height="150px" class="card-img-top" alt="{{ gelatina.slug }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ gelatina.name }}</h5>
                    <p class="card-text text-justify">
                        {% if gelatina.descipcion|length > 100 %}
                        {{ gelatina.descipcion|slice:":100" }}... <a href="">descripcion</a>
                        {% else %}
                        {{ gelatina.descipcion }}
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Last updated 3 mins ago</small> <br>
                    Valor: {{gelatina.precio}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock 'content' %}